<div id="image-track" [attr.data-mouse-down-at]="mouseDownAt" [attr.data-prev-percentage]="prevPercentage">
    <img class="image" src="assets/images/facial-detection.jpg" draggable="false" (dblclick)="changeRoute('/facial-detection')" />
    <img class="image" src="assets/images/pose-estimation.png" draggable="false" (dblclick)="changeRoute('/pose-estimation')" />
    <img class="image" src="assets/images/sound-recognition.jpg" draggable="false" (dblclick)="changeRoute('/sound-recognition')"  />
 </div>
